@using Microsoft.AspNet.Identity
@model WebDiary.ViewModels.FriendViewModel.FriendDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
    </dl>
    @if (!Model.friendIdsLst.Contains(User.Identity.GetUserId()))
    {
        @Html.ActionLink("Add to friends", "AddToFriend", new { email = Model.Email })
    }
</div>
